.section-statistics {
  text-align: center;
  padding-top: 100px;

  h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: $color-black;
    opacity: 1;
  }
}



.section-statistics_columns {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 110px;

  .section-statistics_column {
    position: relative;
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    * {
      flex-shrink: 0;
    }
    .column_number {
      text-align: center;
      font: normal normal 800 20px/24px Raleway;
      letter-spacing: 5.96px;
      color: var(--color-black);
      opacity: 1;
    }

    .column_desc {
      text-align: center;
      font: normal normal normal 16px/19px Raleway;
      letter-spacing: 0px;
      color: var(--color-grey);
      opacity: 1;
    }

    .circle {
      height: 63px;
      width: 63px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translate(-31.5px,0);
      z-index: 0;
    }

  }
}



.first_circle {
  background-color: $color-redish;
}

.second_circle {
  background-color: $color-primary;
}

.third_circle {
  background-color: $color-green;
}

.column_img {
  position: relative;
  z-index: 1;
}

.column_img img {
  margin: auto;
  transform: translate(20px,0);
}